# Dados da SINAN sobre Ataques de Animais Peçonhentos

In [1]:
import pandas as pd
import numpy as np
import warnings
from pysus.online_data import SINAN
from pysus.preprocessing.decoders import decodifica_idade_SINAN

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore') # eu sei que isso é feio, mas era necessário

## Coleta Utilizando a lib PySUS

In [2]:
df = SINAN.download(year=2017, disease='Animais Peçonhentos', state='')
display(df.head())
df.info()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2,X29,2017-01-01,201701,2017,29,291080,1381,2017-01-01,201701,2012-07-28,4004,M,6,2,10,29,291080,1381,1,2017-01-01,,2017-01-01,29,291080,,2,9,06,1,9,1,9,9,9,,2,,,,,,,,9,3,,,,,9,9,0,0,0,0,0,0,0,0,0,9,,,,,,9,,,,,9,1,None,2017-02-02,2017-02-09
1,2,X29,2017-01-01,201701,2017,35,352620,1335,2017-01-01,201701,1980-09-30,4036,F,9,9,09,35,352620,1335,1,2017-01-01,,2017-01-01,35,352620,,1,1,09,2,,,,,,,2,,,,,,,,9,2,,,9,,9,9,0,0,0,0,0,0,0,0,0,9,,,,,,,,,,,,9,None,2017-01-02,2017-01-16
2,2,X29,2017-01-01,201701,2017,13,130360,5584,2016-05-15,201620,1990-06-25,4025,F,5,5,00,13,130360,5584,1,2017-01-01,612005,2016-01-15,13,130360,ALDEIA BALAIO,2,5,09,1,1,1,1,1,2,,1,2,1,1,2,2,2,,9,1,,1,,,3,1,8,0,0,0,0,0,0,0,0,1,1,1,2,1,1,2,,,,,2,1,None,2017-01-01,2017-01-25
3,2,X29,2017-01-01,201701,2017,41,412010,1357,2017-01-01,201701,1954-07-18,4062,F,5,1,06,41,411770,1357,1,2017-01-01,999993,2017-01-01,41,412010,RESIDENCIA,1,1,09,1,1,2,2,2,2,,2,,,,,,,,9,3,,,,,1,2,0,0,0,0,0,0,0,0,0,2,,,,,,2,,,,,2,1,None,2017-02-13,2017-02-17
4,2,X29,2017-01-01,201701,2017,26,261160,1497,2017-01-01,201701,2013-08-12,4003,F,6,9,10,26,260840,1497,1,2017-01-01,,2017-01-01,26,260840,,2,1,09,1,1,2,2,2,2,,2,,,,,,,,9,3,,,,,1,2,0,0,0,0,0,0,0,0,0,2,,,,,,2,,,,,2,1,None,2017-01-02,2017-03-28

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 222859 entries, 0 to 222858
Data columns (total 77 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   TP_NOT      222859 non-null  object
 1   ID_AGRAVO   222859 non-null  object
 2   DT_NOTIFIC  222859 non-null  object
 3   SEM_NOT     222859 non-null  object
 4   NU_ANO      222859 non-null  object
 5   SG_UF_NOT   222859 non-null  object
 6   ID_MUNICIP  222859 non-null  object
 7   ID_REGIONA  222859 non-null  object
 8   DT_SIN_PRI  222859 non-null  object
 9   SEM_PRI     222859 non-null  object
 10  DT_NASC     219325 non-null  object
 11  NU_IDADE_N  222859 non-null  int64
 12  CS_SEXO     222859 non-null  object
 13  CS_GESTANT  222859 non-null  object
 14  CS_RACA     222859 non-null  object
 15  CS_ESCOL_N  222859 non-null  object
 16  SG_UF       222859 non-null  object
 17  ID_MN_RESI  222859 non-null  object
 18  ID_RG_RESI  222859 non-null  object
 19  ID_PAIS     222859 non-null  object
 20  DT_INVEST   222859 non-null  object
 21  ID_OCUPA_N  222859 non-null  object
 22  ANT_DT_ACI  222850 non-null  object
 23  ANT_UF      222859 non-null  object
 24  ANT_MUNIC_  222859 non-null  object
 25  ANT_LOCALI  222859 non-null  object
 26  ANT_ZONA    222859 non-null  object
 27  ANT_TEMPO_  222859 non-null  object
 28  ANT_LOCA_1  222859 non-null  object
 29  MCLI_LOCAL  222859 non-null  object
 30  CLI_DOR     222859 non-null  object
 31  CLI_EDEMA   222859 non-null  object
 32  CLI_EQUIMO  222859 non-null  object
 33  CLI_NECROS  222859 non-null  object
 34  CLI_LOCAL_  222859 non-null  object
 35  CLI_LOCA_1  222859 non-null  object
 36  MCLI_SIST   222859 non-null  object
 37  CLI_NEURO   222859 non-null  object
 38  CLI_HEMORR  222859 non-null  object
 39  CLI_VAGAIS  222859 non-null  object
 40  CLI_MIOLIT  222859 non-null  object
 41  CLI_RENAL   222859 non-null  object
 42  CLI_OUTR_2  222859 non-null  object
 43  CLI_OUTR_3  222859 non-null  object
 44  CLI_TEMPO_  222859 non-null  object
 45  TP_ACIDENT  222859 non-null  object
 46  ANI_TIPO_1  222859 non-null  object
 47  ANI_SERPEN  222859 non-null  object
 48  ANI_ARANHA  222859 non-null  object
 49  ANI_LAGART  222859 non-null  object
 50  TRA_CLASSI  222859 non-null  object
 51  CON_SOROTE  222859 non-null  object
 52  NU_AMPOLAS  222859 non-null  int64
 53  NU_AMPOL_1  222859 non-null  int64
 54  NU_AMPOL_8  222859 non-null  int64
 55  NU_AMPOL_6  222859 non-null  int64
 56  NU_AMPOL_4  222859 non-null  int64
 57  NU_AMPO_7   222859 non-null  int64
 58  NU_AMPO_5   222859 non-null  int64
 59  NU_AMPOL_9  222859 non-null  int64
 60  NU_AMPOL_3  222859 non-null  int64
 61  COM_LOC     222859 non-null  object
 62  COM_SECUND  222859 non-null  object
 63  COM_NECROS  222859 non-null  object
 64  COM_COMPOR  222859 non-null  object
 65  COM_DEFICT  222859 non-null  object
 66  COM_APUTAC  222859 non-null  object
 67  COM_SISTEM  222859 non-null  object
 68  COM_RENAL   222859 non-null  object
 69  COM_EDEMA   222859 non-null  object
 70  COM_SEPTIC  222859 non-null  object
 71  COM_CHOQUE  222859 non-null  object
 72  DOENCA_TRA  222859 non-null  object
 73  EVOLUCAO    222859 non-null  object
 74  DT_OBITO    216 non-null     object
 75  DT_ENCERRA  217781 non-null  object
 76  DT_DIGITA   222859 non-null  object
dtypes: int64(10), object(67)
memory usage: 130.9+ MB

## Limpeza de Dados

**Transformando em um DataFrame do Pandas**

In [3]:
df = pd.DataFrame(df)

**Decodificando a Idade**

In [4]:
df['idade'] = decodifica_idade_SINAN(df.NU_IDADE_N, 'Y')
df[['NU_IDADE_N', 'idade']].head()

   NU_IDADE_N  idade
0        4004    4.0
1        4036   36.0
2        4025   25.0
3        4062   62.0
4        4003    3.0

**Removendo colunas desnecessárias**

In [5]:
df.drop(columns=['ANT_LOCALI', 'SG_UF_NOT','ID_MUNICIP', 'NU_IDADE_N', 'DT_NASC', 'TP_NOT', 'ID_AGRAVO', 'SEM_NOT', 'NU_ANO', 'ID_REGIONA', 'SEM_PRI', 'CS_GESTANT', 
                 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'DT_INVEST', 'ID_OCUPA_N', 'ANT_TEMPO_', 'CLI_LOCA_1', 'CLI_OUTR_2', 'CLI_OUTR_3', 
                 'CLI_TEMPO_', 'NU_AMPOL_1', 'NU_AMPOL_3', 'NU_AMPOL_4', 'NU_AMPO_5', 'NU_AMPOL_6', 'NU_AMPO_7', 'NU_AMPOL_8', 'NU_AMPOL_9', 'COM_LOC', 'COM_SECUND', 
                 'COM_NECROS', 'COM_DEFICT', 'COM_APUTAC', 'COM_SISTEM', 'COM_RENAL', 'COM_EDEMA', 'COM_SEPTIC', 'COM_CHOQUE', 'DOENCA_TRA', 'DT_ENCERRA', 'MCLI_LOCAL', 
                 'CLI_LOCAL_', 'MCLI_SIST', 'ANI_TIPO_1', 'DT_DIGITA', 'ANI_SERPEN', 'ANI_ARANHA', 'ANI_LAGART', 'COM_COMPOR', 'DT_OBITO', 'DT_NOTIFIC', 'ANT_MUNIC_'], 
                 axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222859 entries, 0 to 222858
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DT_SIN_PRI  222859 non-null  object
 1   CS_SEXO     222859 non-null  object
 2   ANT_DT_ACI  222850 non-null  object
 3   ANT_UF      222859 non-null  object
 4   ANT_ZONA    222859 non-null  object
 5   ANT_LOCA_1  222859 non-null  object
 6   CLI_DOR     222859 non-null  object
 7   CLI_EDEMA   222859 non-null  object
 8   CLI_EQUIMO  222859 non-null  object
 9   CLI_NECROS  222859 non-null  object
 10  CLI_NEURO   222859 non-null  object
 11  CLI_HEMORR  222859 non-null  object
 12  CLI_VAGAIS  222859 non-null  object
 13  CLI_MIOLIT  222859 non-null  object
 14  CLI_RENAL   222859 non-null  object
 15  TP_ACIDENT  222859 non-null  object
 16  TRA_CLASSI  222859 non-null  object
 17  CON_SOROTE  222859 non-null  object
 18  NU_AMPOLAS  222859 non-null  int64
 19  EVOLUCAO    222859 non-null  object
 20  idade       222857 non-null  float64
dtypes: float64(1), int64(1), object(19)
memory usage: 35.7+ MB

**Renomeando as Colunas para melhor interpretabilidade**

In [6]:
df.rename(columns={'DT_SIN_PRI':'dt_sintomas', 'CS_SEXO':'sexo', 'ANT_DT_ACI':'dt_acidente', 'ANT_UF':'uf', 'ANT_ZONA':'zona_acidente', 'ANT_LOCA_1':'local_picada', 
                   'CLI_DOR':'dor', 'CLI_EDEMA':'edema', 'CLI_EQUIMO':'esquimose', 'CLI_NECROS':'necrose', 'CLI_NEURO':'neuroparalisia', 'CLI_HEMORR': 'hemorragia', 
                   'CLI_VAGAIS':'vomito/diarreia', 'CLI_MIOLIT':'miolise', 'CLI_RENAL':'sintomas_renais', 'TP_ACIDENT':'tp_animal', 'TRA_CLASSI':'envenenamento', 
                   'CON_SOROTE':'soroterapia', 'NU_AMPOLAS':'qtd_ampolas', 'EVOLUCAO':'obito'}, 
                   inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222859 entries, 0 to 222858
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dt_sintomas      222859 non-null  object
 1   sexo             222859 non-null  object
 2   dt_acidente      222850 non-null  object
 3   uf               222859 non-null  object
 4   zona_acidente    222859 non-null  object
 5   local_picada     222859 non-null  object
 6   dor              222859 non-null  object
 7   edema            222859 non-null  object
 8   esquimose        222859 non-null  object
 9   necrose          222859 non-null  object
 10  neuroparalisia   222859 non-null  object
 11  hemorragia       222859 non-null  object
 12  vomito/diarreia  222859 non-null  object
 13  miolise          222859 non-null  object
 14  sintomas_renais  222859 non-null  object
 15  tp_animal        222859 non-null  object
 16  envenenamento    222859 non-null  object
 17  soroterapia      222859 non-null  object
 18  qtd_ampolas      222859 non-null  int64
 19  obito            222859 non-null  object
 20  idade            222857 non-null  float64
dtypes: float64(1), int64(1), object(19)
memory usage: 35.7+ MB

**Alterando o Tipo de Dado das Colunas Para o Tipo Correto**

In [7]:
for col in df.columns:
    if col.startswith('dt_'):
        df[col] = pd.to_datetime(df[col])
    else:
        try:
            df[col] = pd.to_numeric(df[col])
        except ValueError:
            continue

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222859 entries, 0 to 222858
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dt_sintomas      222859 non-null  datetime64[ns]
 1   sexo             222859 non-null  object
 2   dt_acidente      222850 non-null  datetime64[ns]
 3   uf               222850 non-null  float64
 4   zona_acidente    218949 non-null  float64
 5   local_picada     222850 non-null  float64
 6   dor              207067 non-null  float64
 7   edema            207059 non-null  float64
 8   esquimose        207039 non-null  float64
 9   necrose          207038 non-null  float64
 10  neuroparalisia   15489 non-null   float64
 11  hemorragia       15489 non-null   float64
 12  vomito/diarreia  15489 non-null   float64
 13  miolise          15488 non-null   float64
 14  sintomas_renais  15488 non-null   float64
 15  tp_animal        222850 non-null  float64
 16  envenenamento    218114 non-null  float64
 17  soroterapia      222850 non-null  float64
 18  qtd_ampolas      222859 non-null  int64
 19  obito            211305 non-null  float64
 20  idade            222857 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(1), object(1)
memory usage: 35.7+ MB

**Removendo Valores Duplicados**

In [8]:
print('Quantidade de duplicadas:', df.duplicated().sum())
print('Removendo Duplicadas...')
df.drop_duplicates(inplace=True)
print('Quantidade de Duplicadas após Remoção:', df.duplicated().sum())

Quantidade de duplicadas: 734
Removendo Duplicadas...
Quantidade de Duplicadas após Remoção: 0

**Tratando os Valores Nulos**

In [9]:
df.fillna(np.nan)
df.isnull().sum()

dt_sintomas             0
sexo                    0
dt_acidente             9
uf                      9
zona_acidente        3907
local_picada            9
dor                 15786
edema               15794
esquimose           15814
necrose             15815
neuroparalisia     206642
hemorragia         206642
vomito/diarreia    206642
miolise            206643
sintomas_renais    206643
tp_animal               9
envenenamento        4745
soroterapia             9
qtd_ampolas             0
obito               11550
idade                   2
dtype: int64

**Removendo as linhas onde não é possível preencher os nulos**

In [10]:
df.dropna(subset=['dt_acidente', 'tp_animal', 'idade', 'zona_acidente'], inplace=True)
df.isnull().sum()

dt_sintomas             0
sexo                    0
dt_acidente             0
uf                      0
zona_acidente           0
local_picada            0
dor                 14658
edema               14667
esquimose           14684
necrose             14685
neuroparalisia     202889
hemorragia         202890
vomito/diarreia    202889
miolise            202890
sintomas_renais    202890
tp_animal               0
envenenamento        4019
soroterapia             0
qtd_ampolas             0
obito               10552
idade                   0
dtype: int64

In [11]:
df.head(10)

,dt_sintomas,sexo,dt_acidente,uf,zona_acidente,local_picada,dor,edema,esquimose,necrose,neuroparalisia,hemorragia,vomito/diarreia,miolise,sintomas_renais,tp_animal,envenenamento,soroterapia,qtd_ampolas,obito,idade
0,2017-01-01,M,2017-01-01,29.0,2.0,6.0,9.0,1.0,9.0,9.0,NaN,NaN,NaN,NaN,NaN,3.0,9.0,9.0,0,1.0,4.0
1,2017-01-01,F,2017-01-01,35.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,9.0,9.0,0,9.0,36.0
2,2016-05-15,F,2016-01-15,13.0,2.0,9.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,3.0,1.0,8,1.0,25.0
3,2017-01-01,F,2017-01-01,41.0,1.0,9.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,0,1.0,62.0
4,2017-01-01,F,2017-01-01,26.0,2.0,9.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,0,1.0,3.0
5,2017-01-01,F,2017-01-01,26.0,1.0,9.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,0,1.0,21.0
6,2017-01-01,M,2017-01-01,24.0,1.0,9.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,0,1.0,24.0
7,2017-01-01,M,2017-01-01,41.0,2.0,4.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,2.0,0,1.0,10.0
8,2017-01-01,F,2017-01-01,42.0,1.0,9.0,2.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,0,1.0,36.0
9,2016-11-30,M,2016-11-30,42.0,2.0,9.0,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,0,1.0,27.0

**Decodificando Colunas Categóricas**

_Codificação Oficial das Colunas_
- 1: Sim
- 2: Não
- 9: Ignorado

_Método Utilizado para Preenchimento de Nulos e Decodificação dos Valores_
- 1: Recebe 1
- 2, 9 ou Nulo: Recebe 0

In [12]:
cols = ['dor', 'edema', 'esquimose', 'necrose', 'neuroparalisia', 'hemorragia', 'vomito/diarreia', 'miolise', 'sintomas_renais', 'soroterapia']
for col in df.columns:
    if col in cols:
        df[col] = df[col].apply(lambda x: 1 if x == 1 else 0)

df[cols].head()

,dor,edema,esquimose,necrose,neuroparalisia,hemorragia,vomito/diarreia,miolise,sintomas_renais,soroterapia
0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,1,1,0,0,1
3,1,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0

**Codificação Oficial da Coluna Óbito (indica se a pessoa atacada veio a óbito). Coluna Original: EVOLUCAO:**
- 1: Curado
- 2: Óbito devido ao Ataque do Animal (nosso interesse)
- 3: Óbito por outro motivo  
- 9: Ignorado

**Método Utilizado para Preenchimento de Nulos e Decodificação dos Valores**
- 2: Recebe 1 
- 1, 3 ou 9: Recebe 0

In [13]:
df['obito'] = df['obito'].apply(lambda x: 1 if x == 2 else 0)
df['obito'].head()

0    0
1    0
2    0
3    0
4    0
Name: obito, dtype: int64

**Decodificações Personalizadas de acordo com o dicionário de dados disponibilizado pelo SINAN**

In [14]:
def tp_animal(x):
    if x == 1: return 'serpente'
    if x == 2: return 'aranha'
    if x == 3: return 'escorpiao'
    if x == 4: return 'lagarta'
    if x == 5: return 'abelha'
    return 'outro'

def envenenamento(x):
    if x == 1: return 'leve'
    if x == 2: return 'moderado'
    if x == 3: return 'grave'
    return 'nenhum'

def local_picada(x):
    if x == 1:  return 'cabeça'
    if x == 2:  return 'braco'
    if x == 3:  return 'antebraco' 
    if x == 4:  return 'mao' 
    if x == 5:  return 'dedo_mao'
    if x == 6:  return 'tronco' 
    if x == 7:  return 'coxa' 
    if x == 8:  return 'perna' 
    if x == 9:  return 'pe'
    if x == 10: return 'dedo_pe' 
    return 'outro' 

def zona_acidente(x):
    if x == 1: return 'urbana' 
    if x == 2: return 'rural' 
    if x == 3: return 'periurbana' 
    return 'outra'

df['tp_animal'] = df['tp_animal'].apply(tp_animal)
df['envenenamento'] = df['envenenamento'].apply(envenenamento)
df['local_picada'] = df['local_picada'].apply(local_picada)
df['zona_acidente'] = df['zona_acidente'].apply(zona_acidente)
df.head()

,dt_sintomas,sexo,dt_acidente,uf,zona_acidente,local_picada,dor,edema,esquimose,necrose,neuroparalisia,hemorragia,vomito/diarreia,miolise,sintomas_renais,tp_animal,envenenamento,soroterapia,qtd_ampolas,obito,idade
0,2017-01-01,M,2017-01-01,29.0,rural,tronco,0,1,0,0,0,0,0,0,0,escorpiao,nenhum,0,0,0,4.0
1,2017-01-01,F,2017-01-01,35.0,urbana,pe,0,0,0,0,0,0,0,0,0,aranha,nenhum,0,0,0,36.0
2,2016-05-15,F,2016-01-15,13.0,rural,pe,1,1,1,1,0,1,1,0,0,serpente,grave,1,8,0,25.0
3,2017-01-01,F,2017-01-01,41.0,urbana,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0,62.0
4,2017-01-01,F,2017-01-01,26.0,rural,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0,3.0

In [15]:
df.isnull().sum()

dt_sintomas        0
sexo               0
dt_acidente        0
uf                 0
zona_acidente      0
local_picada       0
dor                0
edema              0
esquimose          0
necrose            0
neuroparalisia     0
hemorragia         0
vomito/diarreia    0
miolise            0
sintomas_renais    0
tp_animal          0
envenenamento      0
soroterapia        0
qtd_ampolas        0
obito              0
idade              0
dtype: int64

**Trocando o Tipo de Dado das Colunas Inteiras para int64**

In [16]:
df[['uf', 'idade']] = df[['uf', 'idade']].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218216 entries, 0 to 222858
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   dt_sintomas      218216 non-null  datetime64[ns]
 1   sexo             218216 non-null  object
 2   dt_acidente      218216 non-null  datetime64[ns]
 3   uf               218216 non-null  int64
 4   zona_acidente    218216 non-null  object
 5   local_picada     218216 non-null  object
 6   dor              218216 non-null  int64
 7   edema            218216 non-null  int64
 8   esquimose        218216 non-null  int64
 9   necrose          218216 non-null  int64
 10  neuroparalisia   218216 non-null  int64
 11  hemorragia       218216 non-null  int64
 12  vomito/diarreia  218216 non-null  int64
 13  miolise          218216 non-null  int64
 14  sintomas_renais  218216 non-null  int64
 15  tp_animal        218216 non-null  object
 16  envenenamento    218216 non-null  object
 17  soroterapia      218216 non-null  int64
 18  qtd_ampolas      218216 non-null  int64
 19  obito            218216 non-null  int64
 20  idade            218216 non-null  int64
dtypes: datetime64[ns](2), int64(14), object(5)
memory usage: 36.6+ MB

**Decodificando a Coluna _uf_ com os Dados Oficiais do IBGE**

In [17]:
df_ibge = pd.read_excel('data/estados.xls')
df_ibge = df_ibge[['UF', 'Nome_UF']]
df_ibge.rename(columns={'Nome_UF':'estado', 'UF':'uf'}, inplace=True)
df_ibge.drop_duplicates(inplace=True)
df_ibge.head()

     uf    estado
0    11  Rondônia
52   12      Acre
74   13  Amazonas
136  14   Roraima
151  15      Pará

**Juntando os dataframes para trazer a coluna com o nome do estado**

In [18]:
# juntando os dataframes para trazer a coluna com o nome do estado
df = df.merge(df_ibge)

# removendo a coluna com o estado codificado
df.drop(columns=['uf'], axis=1, inplace=True)

**Reordenando as Colunas para Melhor Visualização**

In [19]:
df = df[['dt_acidente', 'dt_sintomas', 'sexo', 'idade', 'estado', 'zona_acidente', 'local_picada', 'dor', 'edema', 'esquimose', 'necrose', 'neuroparalisia', 
         'hemorragia', 'vomito/diarreia', 'miolise', 'sintomas_renais', 'tp_animal', 'envenenamento', 'soroterapia', 'qtd_ampolas', 'obito']]

df.head()

,dt_acidente,dt_sintomas,sexo,idade,estado,zona_acidente,local_picada,dor,edema,esquimose,necrose,neuroparalisia,hemorragia,vomito/diarreia,miolise,sintomas_renais,tp_animal,envenenamento,soroterapia,qtd_ampolas,obito
0,2017-01-01,2017-01-01,M,4,Bahia,rural,tronco,0,1,0,0,0,0,0,0,0,escorpiao,nenhum,0,0,0
1,2017-01-01,2017-01-01,M,63,Bahia,rural,tronco,1,1,0,0,0,0,0,0,0,escorpiao,leve,1,0,0
2,2017-01-01,2017-01-01,F,31,Bahia,rural,mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
3,2017-01-01,2017-01-01,F,19,Bahia,urbana,pe,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
4,2017-01-01,2017-01-01,M,20,Bahia,urbana,dedo_pe,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0

**Tratando os Outliers**

**Problema**: 
- Registros onde a pessoa passou por soroterapia, porém, o número de ampolas utilizadas consta como 0

**Solução**:
- Dependendo do envenenamento que essa pessoa teve, trocamos a qtd_ampolas para a média de ampolas daquela envenenamento

In [20]:
df.groupby(['envenenamento'])['qtd_ampolas'].mean()

envenenamento
grave       4.259626
leve        0.198353
moderado    1.928270
nenhum      0.379023
Name: qtd_ampolas, dtype: float64

In [21]:
df.qtd_ampolas = np.where(((df.qtd_ampolas==0) & (df.soroterapia==1) & (df.envenenamento=='grave')),4, df.qtd_ampolas)
df.qtd_ampolas = np.where(((df.qtd_ampolas==0) & (df.soroterapia==1) & (df.envenenamento=='moderado')),2, df.qtd_ampolas)
df.qtd_ampolas = np.where(((df.qtd_ampolas==0) & (df.soroterapia==1) & (df.envenenamento=='leve')),1, df.qtd_ampolas)
df.qtd_ampolas = np.where(((df.qtd_ampolas==0) & (df.soroterapia==1) & (df.envenenamento=='nenhum')),1, df.qtd_ampolas)
df[(df['qtd_ampolas']==0)&(df['soroterapia']==1)]

Empty DataFrame
Columns: [dt_acidente, dt_sintomas, sexo, idade, estado, zona_acidente, local_picada, dor, edema, esquimose, necrose, neuroparalisia, hemorragia, vomito/diarreia, miolise, sintomas_renais, tp_animal, envenenamento, soroterapia, qtd_ampolas, obito]
Index: []

**Problema**:
- Registros onde os sintomas da picada do animal surgiram antes da própria picada

**Solução**:
- Alteramos a data dos sintomas para a mesma data da picada

In [22]:
df.dt_sintomas = np.where((df.dt_acidente > df.dt_sintomas), df.dt_acidente, df.dt_sintomas)
df[df.dt_acidente > df.dt_sintomas]

Empty DataFrame
Columns: [dt_acidente, dt_sintomas, sexo, idade, estado, zona_acidente, local_picada, dor, edema, esquimose, necrose, neuroparalisia, hemorragia, vomito/diarreia, miolise, sintomas_renais, tp_animal, envenenamento, soroterapia, qtd_ampolas, obito]
Index: []

**Remoção de Outliers**

**Problema**:
- Pessoas que tiveram sintomas da picada muito depois da data da picada

**Solução**:
- Removemos todos os registros onde a data dos sintomas vem mais de 15 dias depois da picada

In [23]:
df.drop(df[(df.dt_sintomas - df.dt_acidente) > '15 days'].index, inplace=True)

**Problema**:
- Registros de óbitos em que a pessoa não teve nenhum envenenamento

In [29]:
df.drop(df[(df.obito == 1) & (df.envenenamento=='nenhum')].index, inplace=True)

**Problema:**
- Registros de óbitos onde a pessoa não teve nenhum sintoma

In [30]:
df.drop(df[(df.obito==1)&(df.dor==0)&(df.edema==0)&(df.esquimose==0)&(df.necrose==0)&(df.neuroparalisia==0)
        &(df.hemorragia==0)&(df['vomito/diarreia']==0)&(df.miolise==0)&(df.sintomas_renais==0)].index, inplace=True)

In [31]:
df.head(60)

,dt_acidente,dt_sintomas,sexo,idade,estado,zona_acidente,local_picada,dor,edema,esquimose,necrose,neuroparalisia,hemorragia,vomito/diarreia,miolise,sintomas_renais,tp_animal,envenenamento,soroterapia,qtd_ampolas,obito
0,2017-01-01,2017-01-01,M,4,Bahia,rural,tronco,0,1,0,0,0,0,0,0,0,escorpiao,nenhum,0,0,0
1,2017-01-01,2017-01-01,M,63,Bahia,rural,tronco,1,1,0,0,0,0,0,0,0,escorpiao,leve,1,1,0
2,2017-01-01,2017-01-01,F,31,Bahia,rural,mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
3,2017-01-01,2017-01-01,F,19,Bahia,urbana,pe,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
4,2017-01-01,2017-01-01,M,20,Bahia,urbana,dedo_pe,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
5,2017-01-01,2017-01-01,M,33,Bahia,urbana,tronco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
6,2017-01-01,2017-01-01,F,19,Bahia,urbana,braco,1,0,0,0,0,0,0,0,0,aranha,leve,0,0,0
7,2017-01-01,2017-01-01,M,1,Bahia,rural,braco,1,1,1,0,0,0,0,0,0,lagarta,leve,0,0,0
8,2017-01-01,2017-01-01,M,6,Bahia,rural,mao,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
9,2017-01-01,2017-01-01,M,0,Bahia,rural,tronco,1,1,0,0,0,0,0,0,0,escorpiao,nenhum,0,0,0
10,2017-01-01,2017-01-01,F,36,Bahia,urbana,cabeça,1,1,0,0,0,0,0,0,0,escorpiao,nenhum,0,0,0
11,2017-01-01,2017-01-01,M,46,Bahia,urbana,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
12,2016-12-30,2016-12-30,F,43,Bahia,rural,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
13,2016-12-31,2017-01-01,M,2,Bahia,rural,cabeça,0,1,0,0,0,0,0,0,0,abelha,leve,0,0,0
14,2017-01-01,2017-01-01,F,74,Bahia,urbana,dedo_mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
15,2017-01-01,2017-01-01,F,17,Bahia,rural,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
16,2017-01-01,2017-01-01,M,44,Bahia,outra,cabeça,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
17,2017-01-01,2017-01-01,M,50,Bahia,urbana,dedo_mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
18,2017-01-01,2017-01-01,M,0,Bahia,urbana,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,1,1,0
19,2017-01-01,2017-01-01,F,15,Bahia,rural,dedo_mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
20,2017-01-02,2017-01-02,M,33,Bahia,rural,pe,1,0,0,0,0,0,0,0,0,serpente,leve,1,1,0
21,2017-01-02,2017-01-02,F,6,Bahia,urbana,mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,1,1,0
22,2016-12-30,2016-12-30,M,52,Bahia,outra,mao,0,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
23,2017-01-02,2017-01-02,F,54,Bahia,urbana,dedo_mao,1,1,0,0,0,0,0,0,0,escorpiao,moderado,1,2,0
24,2017-01-02,2017-01-02,M,40,Bahia,rural,dedo_pe,1,0,0,0,0,0,1,0,0,escorpiao,leve,1,1,0
25,2017-01-02,2017-01-02,F,16,Bahia,rural,braco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
26,2017-01-01,2017-01-02,M,25,Bahia,rural,pe,1,1,0,0,1,0,0,0,0,serpente,moderado,1,6,0
27,2017-01-01,2017-01-01,F,43,Bahia,urbana,perna,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
28,2016-12-29,2016-12-29,M,91,Bahia,rural,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
29,2017-01-02,2017-01-02,M,33,Bahia,rural,dedo_pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,1,1,0
30,2017-01-02,2017-01-02,F,40,Bahia,rural,mao,1,1,1,0,0,0,0,0,0,escorpiao,leve,0,0,0
31,2017-01-02,2017-01-02,M,38,Bahia,rural,dedo_mao,1,1,1,0,0,0,1,0,0,escorpiao,leve,0,0,0
32,2017-01-02,2017-01-02,F,45,Bahia,rural,pe,1,1,0,0,0,0,0,0,0,serpente,leve,1,3,0
33,2017-01-02,2017-01-02,M,54,Bahia,rural,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
34,2017-01-02,2017-01-02,F,26,Bahia,urbana,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
35,2017-01-02,2017-01-02,F,30,Bahia,rural,braco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
36,2017-01-02,2017-01-02,M,38,Bahia,urbana,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
37,2016-12-29,2016-12-29,M,49,Bahia,urbana,dedo_mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
38,2016-12-30,2016-12-30,M,47,Bahia,rural,pe,1,1,0,0,0,0,1,0,0,escorpiao,leve,0,0,0
39,2017-01-02,2017-01-02,F,31,Bahia,urbana,dedo_mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
40,2017-01-02,2017-01-02,M,14,Bahia,rural,antebraco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
41,2017-01-02,2017-01-02,F,4,Bahia,urbana,tronco,1,0,0,0,0,0,0,0,0,escorpiao,leve,1,1,0
42,2017-01-01,2017-01-01,M,11,Bahia,rural,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
43,2017-01-02,2017-01-02,M,15,Bahia,rural,tronco,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
44,2017-01-02,2017-01-02,F,54,Bahia,rural,antebraco,1,0,0,0,0,0,0,0,0,serpente,moderado,1,6,0
45,2017-01-02,2017-01-02,M,35,Bahia,rural,mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
46,2017-01-02,2017-01-02,M,50,Bahia,urbana,perna,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
47,2017-01-02,2017-01-02,M,35,Bahia,urbana,mao,0,0,0,0,0,0,0,0,0,serpente,leve,1,8,0
48,2017-01-02,2017-01-02,F,36,Bahia,urbana,dedo_mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
49,2016-12-22,2016-12-22,M,2,Bahia,rural,dedo_mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
50,2016-12-30,2016-12-30,M,1,Bahia,outra,cabeça,0,0,0,0,0,0,0,0,0,abelha,leve,0,0,0
51,2017-01-01,2017-01-01,M,76,Bahia,rural,pe,1,1,0,0,0,0,0,0,1,serpente,moderado,1,6,0
52,2017-01-02,2017-01-02,M,22,Bahia,urbana,tronco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
53,2016-12-29,2016-12-29,M,0,Bahia,urbana,braco,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
54,2017-01-02,2017-01-02,M,46,Bahia,urbana,dedo_mao,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
55,2017-01-02,2017-01-02,M,4,Bahia,urbana,mao,1,1,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
56,2017-01-01,2017-01-01,F,20,Bahia,rural,pe,1,1,0,0,0,0,0,0,0,serpente,grave,1,12,0
57,2017-01-02,2017-01-02,M,80,Bahia,urbana,pe,1,0,0,0,0,0,0,0,0,escorpiao,leve,0,0,0
58,2016-12-28,2016-12-28,F,6,Bahia,urbana,outro,1,0,0,0,0,0,0,0,0,outro,leve,0,0,0
59,2017-01-02,2017-01-02,M,7,Bahia,rural,cabeça,1,0,0,0,0,0,1,0,0,escorpiao,moderado,1,2,0

In [36]:
df.to_csv('atacks_data.csv', index=False)